# ==========================================
# ROS 2 Workspace Build Artifacts
# ==========================================
build/
install/
log/
COLCON_IGNORE

# ==========================================
# Python Artifacts
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# ==========================================
# Editor / OS Artifacts
# ==========================================
# Vim
*.swp
*.swo
*~


.vscode/

# macOS / Windows
.DS_Store
Thumbs.db
