# ==========================================
# ROS 2 Workspace Build Artifacts
# ==========================================
robot_ws/build/
robot_ws/install/
robot_ws/log/
robot_ws/COLCON_IGNORE

# ==========================================
# Python Artifacts
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# ==========================================
# Editor / OS Artifacts
# ==========================================
# Vim
*.swp
*.swo
*~


.vscode/

# macOS / Windows
.DS_Store
Thumbs.db
assets/videos/